@import "tailwindcss";

@theme {
  --color-shades-500: #292929;
  --color-shades-400: #545454;
  --color-shades-300: #7F7F7F;
  --color-shades-200: #A9A9A9;
  --color-shades-100: #D4D4D4;
  --color-shades-50: #EAEAEA;

  --color-primary-900: #081A0A;
  --color-primary-800: #0B230D;
  --color-primary-700: #0E2D10;
  --color-primary-600: #123915;
  --color-primary-500: #143F17;
  --color-primary-400: #436545;
  --color-primary-300: #627E64;
  --color-primary-200: #93A794;
  --color-primary-100: #B6C3B7;
  --color-primary-50: #DBE1DB;

  --font-alegreya: "Alegreya", serif;
}